
@model List<MyDbContact.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>



<ul>
    <li>
        <input id="delete-all" type="checkbox" />
        <span>Check All</span>
    </li>
    @foreach (var product in Model)
    {
        <li>
            <input type="checkbox" class="check-item" />
            <span> <input type="checkbox" name="name" /></span>

            <p> @product.Name - @product.Price</p>

            <a href="/Product/Edit?1= @product.Id">Edit</a>

            <a href="#" class="btn-delete" id="@product.Id">Delete</a>
        </li>

    }

</ul>

<input id="delete-all" />Delete All


<script>

    var listBtnDelete = document.getElementsByClassName("btn-delete")
    for (var i = 0; i < listBtnDelete.length; i++) {
        listBtnDelete[i].onclick = function () {
            if (confirm("are you sure")) {
                var currenDeleteButton = this;
                var deleteId = this.id;
                var xmlHttpRequest = new XMLHttpRequest();
                xmlHttpRequest.onreadystatechange = function () {
                    if (this.readyState === 4 && this.status === 200) {
                        alert("delete success");
                        currenDeleteButton.parentElement.remove();
                    }
                }
                xmlHttpRequest.open("DELETE", "/Product?Delete?id=" + deleteId, true);
                xmlHttpRequest.send();
            }
        }
    }

    var deleteAll = document.getElementById("delete-all");
    deleteAll.onclick = function () {
        var checkedItems = document.querySelectorAll(".checked-item:checked");
        var deleteIds = new Array();
        for (var i = 0; i < checkedItems, length; i++) {
            deleteIds.push(checkedItems[i].id.replace("check-id", ""));

        }
        console.log(deleteIds);

        if (deleteIds.length === 0) {
            alert("please choose at least 1 item.");
            return;
        }

        var xmlHttpRequest = new XMLHttpRequest();
        xmlHttpRequest.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                alert("delete success");
                currenDeleteButton.parentElement.remove();
            }
        }
        xmlHttpRequest.open("DELETE", "/Product?Delete?id=" + deleteId, true);
        xmlHttpRequest.send();
    }



</script>

